<% provide(:title, 'Sign up') %>
<h1>新規登録</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
    
      <%= f.label :名前 %><br>
      <%= f.text_field :name %><br>

      <%= f.label :メールアドレス %><br>
      <%= f.text_field :email %><br>

      <%= f.label :パスワード %><br>
      <%= f.password_field :password %><br>

      <%= f.label :password_confirmation, "パスワード確認" %><br>
      <%= f.password_field :password_confirmation %><br>

      <%= f.submit "登録", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>