<% f = @f %>
  <% if @event.errors.any? %>
    <div id="error_explanation" class="alert alert-warning">
      <p><%= pluralize(@event.errors.count, "error") %>個のエラー:</p>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :タイトル %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :開催日 %>
    <%= f.date_field :opendate, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :開催日のメモ %>
    <%= f.text_field :opendate_memo, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :開催場所 %>
    <%= f.text_field :address_title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :住所 %>
    <%= f.text_field :address, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :郵便番号 %>
    <%= f.text_field :postal, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :地図URL %>
    <%= f.text_field :address_embed, class: "form-control" %>
    <small>サイズ、形式？</small>
  </div>
  <div class="form-group">
    <%= f.label :参加費 %>
    <%= f.number_field :fee, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :参加費メモ %>
    <%= f.text_field :fee_memo, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :収容人数 %>
    <%= f.number_field :limit, class: "form-control" %>
    <small>定員なしの場合、0に設定してください。</small>
  </div>
  <div class="form-group">
    <%= f.label :概要 %>
    <%= f.text_area :desc_short, class: "form-control" %>
    <small>80文字程度推奨。 <span id="n_desc_short">0</span></small>
    <script>
      $("#event_desc_short").keyup(function(e){
        $("#n_desc_short").text($(e.target).val().length);
      });
      $("#n_desc_short").text($(e.target).val().length);
    </script>
  </div>
  <div class="form-group">
    <%= f.label :詳細 %>
    <%= f.text_area :desc_long, rows: 10, class: "form-control" %>
    <small>500~1000文字程度推奨。 <span id="n_desc_long">0</span></small>
    <script>
      $("#event_desc_long").keyup(function(e){
        $("#n_desc_long").text($(e.target).val().length);
      });
      $("#n_desc_long").text($(e.target).val().length);
    </script>
  </div>
  <div class="form-group">
    <%= f.label :メイン写真 %>
    <%= f.file_field :picture_main, class: "form-control" %>
    <small>幅600px程度</small>
  </div>
  <div class="form-group">
    <%= f.label :写真１ %>
    <%= f.file_field :picture_1, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :写真２ %>
    <%= f.file_field :picture_2, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :写真３ %>
    <%= f.file_field :picture_3, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :URL %>
    <%= f.text_field :url, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :Facebook %>
    <%= f.text_field :url_facebook, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :Twitter %>
    <%= f.text_field :url_twitter, class: "form-control" %>
  </div>
  <div class="checkbox">
    <label>
      <%= f.check_box :visible %>公開する
    </label>
  </div>
  <div class="form-group">
    <%= f.label :user_id, "主催者" %>
    <%= @event.user.name %>
    <%= f.hidden_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit nil,class: "btn btn-primary" %>
  </div>
