<div class="all">
<div id="profile_image">
		<%= image_tag "top.jpg", :size => '800x100' %>
	</div>

	<div id="content">
		<h2>国東半島の魅了を紹介します！</h2>
		<h4>国東半島が好きなみなさんで作っていくサイトです。
		　　会員登録をすると地元情報を投稿できますので、ドシドシ投稿をお願いします。
		　　</h4>
		<p>facebookのグループは<%=link_to "こちらへ", "https://www.facebook.com/groups/1385820401710205/" %></p>
			
            
            <section class="porta">

            <article>
            <%= image_tag "gurumelogo.gif", :size => '100x30' %>
			<%= image_tag "gurume.jpg", :size => '275x150' %>
			<h3><%= link_to "グルメ", "/picture"  %></h3>
			<p>山と海に面している国東半島の新鮮な魚料理・郷土料理などのお店を紹介します。</p>

			</article>

			 <article>
			<%= image_tag "eventlogo.gif", :size => '100x30' %>
			<%= image_tag "ibe.jpg", :size => '275x150' %>
			<h3><%= link_to "イベント", "/event"  %></h3>
			<p>祭りや日常でのイベントなどを紹介します。</p>
			</article>

			</section><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

            <section class="portb">
			 <article>
			<%= image_tag "spotlogo.gif", :size => '100x30' %>
			<%= image_tag "ibe.jpg", :size => '275x150' %>
			<h3>観光スポット</h3>
			<p>〜寺や源泉を用いた温泉など国東半島の魅力的なスポットを紹介します。</p>
			</article>

			 <article>
			<%= image_tag "jimotologo.gif", :size => '100x30' %>
			<%= image_tag "ibe.jpg", :size => '275x150' %>
			<h3>地元情報</h3>
			<p>ここでは地元情報を紹介します。</p>
			</article>

			</section>
</div>
</div>

<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %><br>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>