<div class="all">
<div id="profile_image">
		<%= image_tag "top.jpg", :size => '800x100' %>
	</div>

	<div id="content">
		<h2>国東半島の「グルメ」「イベント」を教えます！</h2>
		<p>facebookのグループは<%=link_to "こちらへ", "https://www.facebook.com/groups/1385820401710205/" %></p>
			
            
            <section class="port">


            <article>
			<%= image_tag "gurume-top.jpg", :size => '250x150' %>
			<h3><%= link_to "グルメ", "/picture"  %></h3>
			<p>ここではグルメ情報を紹介します。</p>
			</article>

			 <article>
			<%= image_tag "ibe.jpg", :size => '250x150' %>
			<h3>イベント</h3>
			<p>ここではイベント情報を紹介します。</p>
			</article>
			</section>
</div>
</div>

<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %><br>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>