<%- model_class = Art -%>
<div class="page-header">
  <h1>ブログ</h1>
<table class="table table-striped">
　　
    <% @arts.each do |art| %>
        <hr class="style-one">
        <h2><%= art.title %></h2>
        <hr>
        
        <h4><%= art.body %></h4>
        
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_art_path(art), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      art_path(art),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
       
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_art_path,
            :class => 'btn btn-primary' %>
