<p><h4>【基本情報】<h4><p>
<table class="table">
    <tbody>
      <tr>
        <td>住所</td>
        <td><%= @picture.address %></td>
      </tr>
      <tr>
        <td>アクセス</td>
        <td><%= @picture.access %></td>
      </tr>
      <tr>
        <td>営業時間</td>
        <td><%= @picture.worktime %></td>
      </tr>
      <tr>
        <td>休業日</td>
        <td><%= @picture.rest %></td>
      </tr>
      <tr>
        <td>料金</td>
        <td><%= @picture.fee %></td>
      </tr>
      <tr>
        <td>カード利用</td>
        <td><%= @picture.credit %></td>
      </tr>
       <tr>
        <td>駐車場</td>
        <td><%= @picture.parking %></td>
      </tr>
       <tr>
        <td>駐車台数</td>
        <td><%= @picture.parkingnumber %></td>
      </tr>
       <tr>
        <td>駐車料金</td>
        <td><%= @picture.parkingfee %></td>
      </tr>
       <tr>
        <td>電話番号</td>
        <td><%= @picture.phonenumber %></td>
      </tr>
    </tbody>
    </table>