<%= nested_form_for(@picture) do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% @picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :タイトル %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :説明 %><br>
    <%= f.text_area :content, rows: 5, cols: 50 %>
  </div>

    <div class="field">
    <%= f.label :住所 %><br>
    <%= f.text_field :address %>
  </div>
    <div class="field">
    <%= f.label :アクセス %><br>
    <%= f.text_field :access %>
  </div>
    <div class="field">
    <%= f.label :営業時間 %><br>
    <%= f.text_field :worktime %>
  </div>
   <div class="field">
    <%= f.label :休業日 %><br>
    <%= f.text_field :rest %>
  </div>
   <div class="field">
    <%= f.label :料金 %><br>
    <%= f.text_field :fee %>
  </div>
   <div class="field">
    <%= f.label :カード利用 %><br>
    <%= f.text_field :credit %>
  </div>
   <div class="field">
    <%= f.label :駐車場 %><br>
    <%= f.text_field :parking %>
  </div>
  <div class="field">
    <%= f.label :駐車台数 %><br>
    <%= f.text_field :parkingnumber %>
  </div>
  <div class="field">
    <%= f.label :駐車料金 %><br>
    <%= f.text_field :parkingfee %>
  </div>
  <div class="field">
    <%= f.label :電話番号 %><br>
    <%= f.text_field :phonenumber %>
  </div>

  <h4>File Upload</h4>
　<div class="field">
  <%= f.fields_for :assets do |asset_fields| %>
      <p><%= asset_fields.file_field :image %></p>
  </div>
  <% end %>


  <h4>現在の写真</h4>
  
  <%= f.fields_for :assets do |asset_fields| %>

    <% unless asset_fields.object.new_record? %>
      <%= link_to image_tag(asset_fields.object.image.url(:thumb)), 
                  asset_fields.object.image.url(:original) %>

    <% end %>
  <% end %>

  

  <div class="actions">
    <%= f.submit "そいや"%>
  </div>
<% end %>