<p id="notice"><%= notice %></p>

<h2>グルメ</h2><h5>〜地元民ならではの情報を満載〜</h5>

<table>
  <tbody class="pict">
    <% @pictures.each do |picture| %>
     <% if picture.assets.present? %>
        <div><hr><blockquote><%= image_tag picture.assets.first.image.url, size:"70x70" %>
         <% end %>
        <%= link_to picture.name,picture %></blockquote><div>
        <%= link_to "Destroy", picture, :confirm => 'Are you sure?', :method => :delete %> 

<%        
=begin
%>
        <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
        <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<%
=end
%>
 
    <% end %>
  </tbody>
</table>

<br>

<h6><%= link_to '新規投稿', new_picture_path %><h6>
