<p id="notice"><%= notice %></p>

<h2>観光スポット</h2>

<table>
  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td><h3>・<%= link_to picture.name,picture %><h3></td>
<%        
=begin
%>
        <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
        <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<%
=end
%>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h6><%= link_to '新規投稿', new_picture_path %><h6>
