<p id="notice"><%= notice %></p>

<section class="port">
<p>
  <h3><%= @picture.name %></h3><hr>
</p>
<p><%= simple_format @picture.content %></p><hr>

<div class="boxA">
<%= render 'address' %>
</div>

<div class="boxB">
<%= render 'map' %>
</div>

<div class="boxC">
<p><h4>【写真】<h4></p>
<ul>
  <% for asset in @picture.assets %>
    <%= link_to image_tag(asset.image.url(:thumb)), asset.image.url(:original) %>
  <% end %>
</ul>
</section>

<br><br><br><br>
<%= render "comments/form" %>

  
  
   <!--- Modelのstyleで指定した :midium など渡すことでサイズを指定できる -->

<br><br><br><br><br>
<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to "Destroy", @picture, :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to 'Back', pictures_path %>
